#page-wrap {
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 38px;
  top: 28px;
  transition: all 0.2s ease-in-out;
}

.bm-burger-button.at-top-of-page {
  top: 37px;
}

.bm-burger-bars {
  background: white;
}

.bm-cross-button {
  height: 34px !important;
  width: 34px !important;
  right: 26px !important;
  top: 12px !important;
}

.bm-cross-button button {
  top: 6px !important;
  left: 6px !important;
}

.bm-cross {
  background: #2c2e31;
  width: 5px !important;
  height: 36px !important;
}

.bm-menu-wrap {
  top: 0;
}

.bm-menu {
  background: #ffffe6;
  padding: 3.4em 1.5em 0;
  font-size: 1.15em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
